/* ResetPassword.module.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --Header-color: #3252df;
  --Form-Header: #152c5b;
  --Reset-main-font: Poppins;
}
.ResetHeaderchild {
  color: var(--Header-color) !important;
}
.ResetHeader {
  font-family: var(--Reset-main-font);
  font-weight: 600;
  font-size: 26px !important;
}
.ResetFormHeader {
  color: var(--Form-Header);
}
