/* ResetPassword.module.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --Header-color: #3252df;
  --Form-Header: #152c5b;
  --Reset-main-font: Poppins;
}
.ResetHeaderchild {
  color: var(--Header-color) !important;
}
.ResetHeader {
  font-family: var(--Reset-main-font);
  font-weight: 600;
  font-size: 26px !important;
}
.ResetFormHeader {
  color: var(--Form-Header);
}
.imagecontainer {
  position: relative;
}

.imagetext {
  position: absolute;
  bottom: 10px;
  left: 100px;
  color: white; /* Change to your desired text color */

  padding: 5px;
  font-size: 14px; /* Adjust font size if needed */
}
.imgtextone {
  font-size: 40px;
  font-weight: 600;
  font-family: var(--Reset-main-font);
}
.imgtexttwo {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--Reset-main-font);
}
